.grid-container {
  margin-left: 4%;
  margin-right: 4%;
  display: grid;
  grid-template-columns: 1fr 1fr 0.6fr;
}

.item-header {
  text-align: center;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 4;
}

.item-nav {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 4;
}

.item-section {
  grid-row-start: 3;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item-article {
  grid-row-start: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.item-aside {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.item-footer {
  grid-row-start: 6;
  grid-column-start: 1;
  grid-column-end: 4;
}

@media (max-width: 768px) {
  .item-aside {
    grid-row-start: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .item-section {
    grid-column-end: 4;
  }

  .item-article {
    grid-column-end: 4;
  }
}
