/*
Palette :
Very Light blue #caf1f8
Less Light blue #91e0ef
Less Strong blue #0078b7
Very Strong blue #033e8a
*/

body {
  background-color: #e7fbff;
  font-size: larger;
}

body > * {
  border-radius: 8px;
  margin-bottom: 16px;
  box-shadow: 0 0 0.3rem #999;
}

header {
  background-color: white;
  color: #080808;
  border: 1px solid darkgray;
}

nav {
  padding-left: 16px;
  padding-bottom: 32px;
  color: #080808;
  background-color: white;
  border: 1px solid darkgrey;
}

body > section {
  padding-left: 16px;
  padding-right: 16px;
  background-color: white;
  color: #080808;
  border: 1px solid darkgrey;
}

article {
  padding-left: 16px;
  padding-right: 16px;
  color: #080808;
  background-color: white;
  border: 1px solid darkgray;
}

aside {
  padding-left: 16px; /* décalage du texte à l'intérieur*/
  margin-left: 16px; /* décalage du aside à droite */
  color: #080808;
  background-color: rgb(211, 254, 255);
  border: 1px solid darkgray;
}

footer {
  padding-left: 16px;
  padding-right: 16px;
  color: #080808;
  background-color: #c1f5ff;
  border: 1px solid darkgray;
}

pre {
  background-color: rgb(39, 39, 39);
  color: lightskyblue;
  font-weight: bold;
  font-size: x-large;
  border-radius: 16px;
  box-shadow: 0 0 0.5rem hsl(0, 100%, 50%);
}

/* a refactoriser... un jour ?*/
@media (max-width: 768px) {
  aside {
    margin-left: 0px;
  }
}
