table {
  border-collapse: collapse;
  border: 2px solid black;
}

caption {
  caption-side: bottom;
  font-weight: bold;
}

tbody > tr:nth-of-type(even) {
  background-color: bisque;
}

tbody > tr:nth-of-type(odd) {
  background-color: aliceblue;
}

thead,
td,
th {
  text-align: center;
  border: 1px solid black;
}
